.breadcrumb {
  &__list {
    list-style: none;
    margin: 0;
    min-height: 56px;
    padding: 7px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-right: 6px;
    transition: opacity $trans-default;

    @include hover-focus {
      opacity: 0.8;
    }

    .breadcrumb__link {
      color: $color-bg-black-40;
    }

    &.is-active {
      .breadcrumb__link {
        color: $color-brand-primary;
        cursor: default;
        pointer-events: none;
      }

      &::before {
        background-color: $color-brand-primary !important;
      }
    }
  }

  &__item:not(:first-child) {
    &::before {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      background-color: $color-bg-black-40;
      border-radius: 50%;
      margin: 0 6px;
    }

    .breadcrumb__link {
      margin-left: 6px;
    }
  }
}
