.contacts {
  padding: 72px 0 54px;

  @include vp-1024 {
    padding: 72px 0;
  }

  .container {
    display: flex;
    flex-direction: column;

    @include vp-768 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
    }
  }

  &__content {
    order: 2;

    @include vp-1280 {
      align-self: center;
    }
  }

  &__title {
    margin-bottom: 16px;
  }

  &__text {
    max-width: 336px;
    margin: 0 0 10px;

    font-size: 14px;
    line-height: 20px;

    @include vp-1280 {
      max-width: 370px;

      font-size: 16px;
      line-height: 24px;
    }
  }

  &__map {
    order: 1;
    margin-bottom: 24px;

    @include vp-768 {
      order: 2;
      max-width: 287px;
      justify-self: end;
      margin-bottom: 0;
    }

    @include vp-1024 {
      max-width: none;
    }
  }
}
