.documentation {
  padding: 0 0 64px;

  @include vp-1024 {
    padding: 0 0 72px;
  }

  .title--h2 {
    margin: 0 0 40px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

    @include vp-768 {
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-1024 {
      grid-template-columns: repeat(3, 1fr);
    }

    @include vp-1280 {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__list-link {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__link {
    color: $color-text-blue;
    line-height: 24px;
    transition: border $trans-default;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    width: fit-content;
    border-bottom: 1px solid transparent;

    svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      margin-right: 8px;
    }

    @include hover-focus {
      border-bottom: 1px solid $color-text-blue;
    }
  }
}
