.gallery {
  padding: 0 0 64px;

  @include vp-1024 {
    padding: 0 0 72px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(335px, 1fr));
    gap: 24px;

    list-style: none;
    padding: 0;
    margin: 0;

    @media (max-width: 359px) {
      grid-template-columns: repeat(auto-fit, minmax(276px, 1fr));
    }

    @include vp-768 {
      grid-template-columns: repeat(auto-fit, minmax(298px, 1fr));
    }

    @include vp-1024 {
      grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
    }
  }

  &__item {
    height: 223px;
    border-radius: 20px;

    @include vp-768 {
      height: 200px;
    }

    @include vp-1024 {
      height: 256px;
    }
  }
}
