.main-nav {
  display: none;
  width: 100%;

  @include vp-1024 {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: 68px;
  }

  @include vp-1280 {
    order: 6;
    width: 100%;
    margin-left: 0;
  }

  &__list {
    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-1024 {
      display: flex;
      max-width: 400px;
    }

    @include vp-1280 {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(171px, 1fr));
      max-width: 100%;
      width: 100%;
    }
  }

  &__item {
    position: relative;
    border-bottom: 1px solid $color-bg-black-10;

    @include vp-1024 {
      flex-shrink: 0;
      border-bottom: none;
      height: 100%;

      &:hover,
      &:focus {
        .main-nav__link + .submenu {
          position: absolute;
          display: block;
          opacity: 1;
          visibility: visible;
        }

        .main-nav__icon {
          transform: rotate(180deg);
        }
      }
    }

    @include vp-1280 {
      width: 171px;
      height: auto;
    }
  }

  &__item--hidden {
    @include vp-1024 {
      display: none;
    }

    @include vp-1280 {
      display: block;
    }
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 8px 0;

    color: $color-text-title;
    font-size: 16px;
    font-weight: 500;

    background-color: transparent;

    transition: background-color $trans-default color $trans-default;

    @include vp-1024 {
      padding: 12px 16px;

      color: $color-paragraph-secondary;
      font-weight: 400;

      &:hover,
      &:focus {
        color: $color-paragraph-primary;
        background-color: $color-brand-light;
      }

      &:active {
        color: $color-paragraph-primary;
        background-color: $color-brand-dark;
      }

      &.is-active {
        position: relative;
        font-weight: 500;
        color: $color-paragraph-primary;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;

          background-color: $color-brand-primary;
          border-radius: 8px 8px 0 0;
        }
      }
    }

    @include vp-1280 {
      justify-content: center;

      padding: 12px 16px;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;

    transform: translate3d(0, 0, 0);
    transition: transform $trans-default;

    &.is-open {
      transform: rotate(180deg);
    }
  }

  &__more-list {
    display: none;
    min-width: 100%;
    width: max-content;
    margin: 0;
    padding: 0;
    z-index: 99;

    list-style: none;

    border-radius: 8px;
    background: $color-default-white;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgba(0, 0, 0, 0.08);

    @include vp-1024 {
      position: absolute;
      top: 44px;
      left: 0;
      flex-direction: column;
    }
  }

  &__more-item {
    text-align: center;

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-bg-black-10;
    }
  }

  &__more-link {
    display: block;
    padding: 16px;

    color: $color-paragraph-secondary;
    font-size: 16px;
    line-height: 24px;

    @include hover-focus {
      background-color: $color-brand-light;
    }

    @include active {
      background-color: $color-brand-dark;
    }
  }

  &__more-icon {
    margin-left: 4px;

    transition: transform $trans-default;
  }

  &__more {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;

    color: $color-text-blue;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;

    background-color: $color-default-white;

    cursor: pointer;
    transition: background-color $trans-default;

    &:hover,
    &:focus {
      background-color: $color-brand-light;

      .main-nav__more-list {
        display: flex;
      }

      .main-nav__more-icon {
        transform: rotate(180deg);
      }
    }

    &:active {
      background-color: $color-brand-dark;
    }

    @include vp-1024 {
      display: flex;
    }

    @include vp-1280 {
      display: none;
    }
  }
}
