.map {
  width: 100%;
  overflow: hidden;

  border-radius: 24px;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;

    object-fit: cover;
  }
}
