.page-content {
  &__section {
    padding: 64px 0;

    @include vp-1024 {
      padding: 72px 0;
    }

    .container {
      display: grid;
      row-gap: 32px;

      @include vp-1024 {
        row-gap: 40px;
      }
    }
  }

  &--about-walk {
    .text-content__wrap {
      max-width: 800px;
      margin: 0 0 64px;

      @include vp-1024 {
        margin: 0 0 72px;
      }
    }
  }

  &--bg-grey {
    background: $color-bg-black-5;
  }
}
