.price-table {
  margin: 0 0 40px;

  &__header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 24px;
  }

  &__title {
    margin-bottom: 10px;
    margin-right: 10px;

    @media (min-width: 414px) {
      width: 60%;
    }

    @include vp-768 {
      margin-bottom: 0;
    }
  }

  &__btn {
    height: 28px;
    border: 1px solid $color-bg-black-20;
    padding: 4px 8px;
  }

  &__table {
    overflow: auto;
    border-radius: 8px;
    border: 1px solid $color-bg-black-20;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-thumb { /* плашка-бегунок */
      background: $color-bg-black-20;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track { /* фон */
      background: $color-default-white;
    }
  }
}
