.submenu {
  position: absolute;
  top: 44px;
  left: 0;
  flex-direction: column;
  display: none;
  opacity: 0;
  visibility: hidden;
  min-width: 100%;
  width: max-content;
  margin: 0;
  padding: 0;
  z-index: 99;

  list-style: none;

  border-radius: 8px;
  background: $color-default-white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 2px 8px 0 rgba(0, 0, 0, 0.08);

  &__item {
    text-align: center;

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-bg-black-10;
    }
  }

  &__link {
    display: block;
    padding: 16px;

    color: $color-paragraph-secondary;
    font-size: 16px;
    line-height: 24px;

    @include hover-focus {
      background-color: $color-brand-light;
    }

    @include active {
      background-color: $color-brand-dark;
    }
  }
}
