.сharacteristic {
  max-width: 196px;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px;
  display: grid;

  &__wrap {
    display: grid;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  &__title {
    color: $color-text-title;
    font-size: 14px;

    font-weight: 500;
    line-height: 20px;
    margin: 0;
  }

  .icon-text__icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }

  .icon-text__text {
    font-size: 14px;
  }
}
