// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

$color-text-title:                  #0a0a0a;
$color-bg-black-5:                  #f6f6f6;
$color-bg-black-10:                 #ededed;
$color-bg-black-20:                 #c8c8c8;
$color-bg-black-40:                 #a4a4a4;
$color-paragraph-primary:           #353535;
$color-paragraph-secondary:         #656565;
$color-text-blue:                   #045cc4;
$color-brand-primary:               #06bada;
$color-brand-primary-hover:         #0595ae;
$color-brand-primary-pressed:       #047083;
$color-bg-blue-5:                   #a6cefd;
$color-bg-blue:                     #e8f2fe;
$color-bg-blue-10:                  #d9eafe;
$color-brand-light:                 #e6f8fb;
$color-brand-dark:                  #cdf1f8;
$color-bg-green:                    #e6f6ec;


// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        14px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля

$ff-roboto:                    "Roboto", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
